{{ 'custom-product.css' | asset_url | stylesheet_tag }}

{% comment %} {{ 'custom-web-product.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %} <script src="{{ 'custom-product.js' | asset_url }}" defer></script> {% endcomment %}

{% style %}
    .custom-product-{{ section.id }}{
        padding-top:{{ section.settings.padding_top | divided_by:2 }}px;
        padding-bottom:{{ section.settings.padding_bottom | divided_by:2 }}px;
    }
    @media screen and (min-width:749px){
        .custom-product-{{ section.id }}{
            padding-top:{{ section.settings.padding_top }}px;
            padding-bottom:{{ section.settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="custom-rings-product color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width custom-product-{{ section.id }}">
        {%- unless section.settings.title == blank -%}
            <div>
                <h2 class="section-{{ section.id }} {{ section.settings.heading_size }}" id="SectionHeading-{{ section.id }}">
                    {{ section.settings.title }}
                </h2>
            </div>
        {%- endunless -%}
        <div>
            <div class="custom-rings-product--all-products">
                {%- for block in section.blocks -%}
                  {%- assign each_product = block.settings.product -%}
                    {%- if each_product != blank -%}
                        {% render 'custom-web-product',
                            product : each_product
                         %}
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "custom-product",
        "class": "section",
        "tag": "section",
        "settings": [
            {
                "type": "inline_richtext",
                "id": "title",
                "label": "Collection Heading",
                "default": "Products"
            },
            {
                "type": "select",
                "id": "heading_size",
                "label": "Heading size",
                "options": [
                    {
                        "value": "h2",
                        "label": "t:sections.all.heading_size.options__1.label"
                      },
                      {
                        "value": "h1",
                        "label": "t:sections.all.heading_size.options__2.label"
                      },
                      {
                        "value": "h0",
                        "label": "t:sections.all.heading_size.options__3.label"
                      }
                ],
                "default": "h1"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color scheme",
                "info": "To change the card color scheme, update your theme settings.",
                "default": "scheme-1"
              },
              {
                "type": "header",
                "content": "Section padding"
              },
              {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding top",
                "default": 36
              },
              {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding bottom",
                "default": 36
              }
        ],
        "blocks": [
            {
                "type": "product",
                "name" : "Product",
                "settings": [
                      {
                        "type": "product",
                        "id": "product",
                        "label": "product"
                      },
                      {
                        "type": "color",
                        "id": "card_color",
                        "label": "Card color",
                        "default": "#fcf9f6"
                      },
                      {
                        "type": "checkbox",
                        "id": "Quick_view_button",
                        "label": "Quick View Button",
                        "default": true,
                        "info": "Enable Quick View Button"
                      }
                ]
            }
        ],
        "presets": [
            {
                "name": "custom-product",
                "blocks": [
                    {
                        "type": "product"
                      },
                      {
                        "type": "product"
                      },
                      {
                        "type": "product"
                      }
                ]
            }
        ]
    }
{% endschema %}